@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: rgb(119, 173, 243);
  color: #fff;
  // height: 100vh;
}

// p {
//   line-height: 1.4;
// }
