// Screen sizes
$smaller: 360px;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1366px;

// Colors
// $mainGray: #333;
// $lightGray: #f5f5f5;
// $mainGreen: #048500;
// $lightGreen: #62d62c;
// $mainRed: #f00;
// $lightRed: #ff4242;
